#title {
    background-color: #2C469C;
}

body {
    color: black;
    background-color: rgb(242, 243, 255);
}

.body-text {
    padding-left: 5%;
    padding-right: 5%;
}

.spacer-text {
    color: black
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.container-fluid {
    padding-left: 5%;
    padding-right: 5%;
}

.section-bar {
    background-color: #2C469C;
    width: 100%;
    padding: 0;
    color: whitesmoke;
}

.override-pad {
    width: 100%;
    padding: 0;
}

.start-hidden {
    display: none;
}

.btn-selected {
    background-color: #2C469C;
}

.btn-selected:hover {
    background-color: lightslategray;
}

.btn-selected:focus {
    background-color: #2C469C;
}

#title-image {
    transform: rotate(20deg);
}
.img-fluid {
    padding-bottom: 75px;
}

/* Carousel */
.carousel-caption {
    color: black;
    font-size: 1em;
}

#style-carousel {
    background-color: rgb(202, 216, 245);
    margin: 2% 10% 2% 10%;
    border-radius: 50px;
    border: #2C469C;
    border-width: 4px;
    border-style: solid;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='blue' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}
.carousel-indicators li {
    background-color: #2C469C;
}

.sm-caption {
    padding-bottom: 10px;
    margin-top: -50px;
}